.navigation-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 152px;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
}

.navigationSwiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationSwiper .swiper-wrapper {
  display: flex;
  max-width: 90%;
}

.navigationSwiper .swiper-slide {
  display: flex;
  width: 243px !important;
  height: 152px;
  border: none;
}

.navigationSwiper .swiper-button-prev {
  opacity: 0 !important;
}

.navigationSwiper .swiper-button-next {
  opacity: 0;
}

.navigationSwiper .swiper-slide .slide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.navigationSwiper .swiper-slide .slide-container span {
  margin-top: 8px;
  text-align: center;
  font-size: 13.5px;
  line-height: 19px;
  width: 75px;
  color: #3e3e3e;
}

.navigationSwiper .swiper-slide .slide-container:hover {
  background-color: #013467;
}

.navigationSwiper .swiper-slide .slide-container:hover > span {
  color: #ffffff;
}

.navigationSwiper .swiper-slide .slide-container:hover > img {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 1470px) {
  .navigationSwiper .swiper-button-prev {
    opacity: 1 !important;
  }

  .navigationSwiper .swiper-button-next {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .navigationSwiper .swiper-slide {
    max-width: 140px !important;
  }
}
